In [1]:
cd ..

/Users/jesusenriquemirandablanco/Documents/maestria/segundo/producto/refactored-waddle

In [2]:
import pandas as pd
from src.clean_string import clean_function

[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/jesusenriquemirandablanco/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [3]:
ls

README.md  data/      notebooks/ src/

In [4]:
df = pd.read_csv('./data/bquxjob_1c64361e_17f79910563.csv')
df.head()

    user                                               text
0    TND  An Airbnb spokesperson says more than 61,000 n...
1    TND  An Airbnb spokesperson says more than 61,000 n...
2   LIRR  @islesofmets @UBSArena @NYIslanders Good morni...
3   xo4n  Featured Job of the day: software engineer API...
4  26OOs  The ashes like a trail as it disappeared into ...

In [5]:
df['clean'] = df.text.apply(lambda x:clean_function(x))

In [6]:
df.head()

,user,text,clean
0,TND,"An Airbnb spokesperson says more than 61,000 n...",airbnb spokesperson say night book ukrain marc...
1,TND,"An Airbnb spokesperson says more than 61,000 n...",airbnb spokesperson say night book ukrain marc...
2,LIRR,@islesofmets @UBSArena @NYIslanders Good morni...,islesofmet ubsarena nyisland good morn servic ...
3,xo4n,Featured Job of the day: software engineer API...,featur job day softwar engin api build develop...
4,26OOs,The ashes like a trail as it disappeared into ...,ash like trail disappear sky like distant jour...

In [7]:
df.iloc[0,1]

'An Airbnb spokesperson says more than 61,000 nights were booked in Ukraine on March 2 and 3 alone. This amounted toâ€¦ https://t.co/WkzEUk7gwj'

In [8]:
df.iloc[0,2]

'airbnb spokesperson say night book ukrain march alon amount http co wkzeuk gwj'